<h1>All drawings</h1>
<div id="drawings" class="row">
    <% @drawings.each do |drawing| %>
	<div class="col-sm-4 text-center">
        <p>ID: <%= drawing.id %></p>
        <p>Name: <%= drawing.name %></p>
        <p style="display:none;"><%= drawing.commands %></p>
        <p><canvas id="<%= drawing.id %>" width="150px" height="100px" /></p>
		<p><%= link_to 'View', drawing %></p>
	</div>


  
<script type="text/javascript">
	RunCommands('<%= drawing.commands %>', '<%= drawing.id %>', <%= drawing.startx %>, <%= drawing.starty %>, 0.2, 0.1);
  </script>

    <% end %>
	
</div>

<%= will_paginate %>
