<h1>All drawings</h1>
<div id="drawings" class="row">
    <% @drawings.each do |drawing| %>
	<div class="col-sm-4 text-center">
        <p><strong>ID:</strong> <%= drawing.id %></p>
        <p><strong>Name:</strong> <%= drawing.name %></p>
        <p style="display:none;"><%= drawing.commands %></p>
        <p><canvas id="<%= drawing.id %>" width="150px" height="100px" /></p>
	</div>

<script>
	RunCommands('<%= drawing.commands %>', '<%= drawing.id %>', <%= drawing.startx %>, <%= drawing.starty %>, 0.2, 0.1);
  </script>

    <% end %>
	
</div>

<%= will_paginate %>
