<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @drawing.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @drawing.name %>
</p>

<p>
  <strong>Commands:</strong>
  <%= @drawing.commands %>
</p>
<p>
  <strong>Startx:</strong>
  <%= @drawing.startx %>
</p>
<p>
  <strong>Starty:</strong>
  <%= @drawing.starty %>
</p>


<%= link_to 'Edit', edit_drawing_path(@drawing) %> |
<%= link_to 'Back', drawings_path %>
