<div class='current_commands well'>
	<p class="text-center"><strong>Commands: </strong></p>
    <p class="text-center">
		<%= text_area_tag 'keys', '', class: 'commands', autocomplete:'off' %>
	</p>
	<p class="text-center">
		<%= button_tag 'Run Commands', type: 'button', id: 'btnRerun', title: 'This runs the commands from the current point and adds them to the list again. So pretty much the same as copying and pasting it.', onclick: 'ReadText();' %>
	</p>
	<p class="text-center">
		<%= button_tag 'Clear', type: 'button', id: 'btnClear', onclick: 'ClearCanvas();' %>
		<%= check_box_tag 'FullClear', '', false, title: 'This puts the position back at (0,0).', style: 'margin-top: -1px;' %>
		<%= label_tag 'FullClear', 'Reset', title: 'This puts the position back at (0,0).' %>
	</p>
	</div>

<div class='accordian well'>
	<div class="row">
		<p class="text-center">
			<strong>Command Keys:</strong></p>
			
			<p class="text-center"> Up: <%= text_field_tag 'UpKey', 'z', size: 1, maxlength: 1, class: 'CustomCommand', readonly:true %> </p>
 
			<p class="text-center">	Down: <%= text_field_tag 'DownKey', 'x', size: 1, maxlength: 1, class: 'CustomCommand', readonly:true %> </p>
			
			<p class="text-center">	Left: <%= text_field_tag 'LeftKey', 'n', size: 1, maxlength: 1, class: 'CustomCommand', readonly:true %> </p>
 
			<p class="text-center">	Right: <%= text_field_tag 'RightKey', 'm', size: 1, maxlength: 1, class: 'CustomCommand', readonly:true %> </p>
		
		<hr>
		<p class="text-center">
			<strong>Information:</strong>
			<br/>
			Current X: <%= label_tag 'xLabel', '0', id: 'xLabel' %>
			<br/>
			Current Y: <%= label_tag 'yLabel', '0', id: 'yLabel' %>
		</p>
	</div>
</div>