<% @drawing.each do |d| %>
<p>
  <strong>Id:</strong>
  <%= d.id %>
  <strong>Name:</strong>
  <%= d.name %>
  <br/>
  <canvas id="<%= d.id %>" width="150px" height="100px" style="cursor:pointer;" title="Click to draw onto the larger image." onclick="RunCommands('<%= d.commands %>', 'can', <%= d.startx %>, <%= d.starty %>, 1, 0.5);" />
  
</p>
<script>
	RunCommands('<%= d.commands %>', '<%= d.id %>', <%= d.startx %>, <%= d.starty %>, 0.2, 0.1);
</script>

<% end %>